openapi: 3.2.0
info:
  title: Buy Me a Coffee Extras API
  description: The Buy Me a Coffee API is a read-only REST interface that gives a creator programmatic access to their own account data on Buy Me a Coffee - a creator-support platform for tips, memberships, and shop purchases.
  version: '1.0'
  contact:
    name: Buy Me a Coffee
    url: https://developers.buymeacoffee.com/
servers:
- url: https://developers.buymeacoffee.com/api/v1
  description: Buy Me a Coffee API v1
security:
- bearerAuth: []
tags:
- name: Extras
  description: Extras purchases (shop items and rewards). BETA.
paths:
  /extras:
    get:
      operationId: getExtras
      tags:
      - Extras
      summary: List Extras purchases (BETA)
      description: Returns all of your Extras purchases data as a paginated collection.
      parameters:
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: A paginated list of Extras purchases.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtraPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /extras/{id}:
    get:
      operationId: getExtra
      tags:
      - Extras
      summary: Get an Extras purchase by ID (BETA)
      description: Returns data about an extra purchase by its unique ID. The ID is the same as the Purchase ID returned in the list response.
      x-endpoint-modeled: The "get extra by ID" operation is documented, but the exact URL template is inferred from the collection endpoint and standard REST conventions.
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the extra purchase (Purchase ID).
        schema:
          type: integer
      responses:
        '200':
          description: A single Extras purchase.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extra'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    Unauthorized:
      description: Missing or invalid Bearer token.
    RateLimited:
      description: Too many requests; the client is being throttled.
    NotFound:
      description: The requested resource was not found.
  schemas:
    Reward:
      type: object
      properties:
        reward_id:
          type: integer
        reward_title:
          type: string
        reward_description:
          type: string
        reward_confirmation_message:
          type:
          - string
          - 'null'
        reward_question:
          type:
          - string
          - 'null'
        reward_used:
          type: integer
        reward_created_on:
          type: string
        reward_updated_on:
          type: string
        reward_deleted_on:
          type:
          - string
          - 'null'
        reward_is_active:
          type: integer
        reward_image:
          type:
          - string
          - 'null'
        reward_slots:
          type:
          - integer
          - 'null'
        reward_coffee_price:
          type: string
        reward_order:
          type: integer
    Extra:
      type: object
      properties:
        purchase_id:
          type: integer
        purchased_on:
          type: string
        purchase_updated_on:
          type: string
        purchase_is_revoked:
          type: integer
        purchase_amount:
          type: string
        purchase_currency:
          type: string
        purchase_question:
          type:
          - string
          - 'null'
        payer_email:
          type:
          - string
          - 'null'
        payer_name:
          type: string
        extra:
          $ref: '#/components/schemas/Reward'
    Pagination:
      type: object
      description: Laravel-style pagination envelope wrapping a data array.
      properties:
        current_page:
          type: integer
        first_page_url:
          type: string
        from:
          type: integer
        last_page:
          type: integer
        last_page_url:
          type: string
        next_page_url:
          type:
          - string
          - 'null'
        path:
          type: string
        per_page:
          type: integer
        prev_page_url:
          type:
          - string
          - 'null'
        to:
          type: integer
        total:
          type: integer
    ExtraPage:
      allOf:
      - $ref: '#/components/schemas/Pagination'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/Extra'
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: Page number for the paginated collection.
      schema:
        type: integer
        minimum: 1
        default: 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal access token created in the Buy Me a Coffee Developer Dashboard. Sent as `Authorization: Bearer <token>`.'
