openapi: 3.2.0
info:
  title: Buy Me a Coffee Supporters API
  description: The Buy Me a Coffee API is a read-only REST interface that gives a creator programmatic access to their own account data on Buy Me a Coffee - a creator-support platform for tips, memberships, and shop purchases.
  version: '1.0'
  contact:
    name: Buy Me a Coffee
    url: https://developers.buymeacoffee.com/
servers:
- url: https://developers.buymeacoffee.com/api/v1
  description: Buy Me a Coffee API v1
security:
- bearerAuth: []
tags:
- name: Supporters
  description: One-time supporters (tips / coffees) and their messages.
paths:
  /supporters:
    get:
      operationId: getSupporters
      tags:
      - Supporters
      summary: List one-time supporters
      description: Returns all of your one-time supporters and their messages, if any, as a paginated collection.
      parameters:
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: A paginated list of one-time supporters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupporterPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /supporters/{id}:
    get:
      operationId: getSupporter
      tags:
      - Supporters
      summary: Get a one-time supporter by ID
      description: Returns a single one-time supporter and their message by the supporter's unique ID.
      x-endpoint-modeled: The "get one-time supporter by ID" operation is documented, but the exact URL template is inferred from the collection endpoint and standard REST conventions.
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the one-time supporter.
        schema:
          type: integer
      responses:
        '200':
          description: A single one-time supporter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supporter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    Unauthorized:
      description: Missing or invalid Bearer token.
    RateLimited:
      description: Too many requests; the client is being throttled.
    NotFound:
      description: The requested resource was not found.
  schemas:
    Supporter:
      type: object
      properties:
        support_id:
          type: integer
        support_note:
          type:
          - string
          - 'null'
        support_coffees:
          type: integer
        transaction_id:
          type: string
        support_visibility:
          type: integer
        support_created_on:
          type: string
        support_updated_on:
          type: string
        transfer_id:
          type:
          - string
          - 'null'
        supporter_name:
          type: string
        support_coffee_price:
          type: string
        support_email:
          type:
          - string
          - 'null'
        is_refunded:
          type:
          - string
          - 'null'
        support_currency:
          type: string
        support_note_pinned:
          type: integer
        referer:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        payer_email:
          type:
          - string
          - 'null'
        payment_platform:
          type: string
        payer_name:
          type: string
    SupporterPage:
      allOf:
      - $ref: '#/components/schemas/Pagination'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/Supporter'
    Pagination:
      type: object
      description: Laravel-style pagination envelope wrapping a data array.
      properties:
        current_page:
          type: integer
        first_page_url:
          type: string
        from:
          type: integer
        last_page:
          type: integer
        last_page_url:
          type: string
        next_page_url:
          type:
          - string
          - 'null'
        path:
          type: string
        per_page:
          type: integer
        prev_page_url:
          type:
          - string
          - 'null'
        to:
          type: integer
        total:
          type: integer
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: Page number for the paginated collection.
      schema:
        type: integer
        minimum: 1
        default: 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal access token created in the Buy Me a Coffee Developer Dashboard. Sent as `Authorization: Bearer <token>`.'
