openapi: 3.2.0
info:
  title: Buy Me a Coffee Subscriptions API
  description: The Buy Me a Coffee API is a read-only REST interface that gives a creator programmatic access to their own account data on Buy Me a Coffee - a creator-support platform for tips, memberships, and shop purchases.
  version: '1.0'
  contact:
    name: Buy Me a Coffee
    url: https://developers.buymeacoffee.com/
servers:
- url: https://developers.buymeacoffee.com/api/v1
  description: Buy Me a Coffee API v1
security:
- bearerAuth: []
tags:
- name: Subscriptions
  description: Recurring memberships / subscriptions (members).
paths:
  /subscriptions:
    get:
      operationId: getSubscriptions
      tags:
      - Subscriptions
      summary: List members / subscriptions
      description: Returns all of your members (recurring memberships / subscriptions) with both active and inactive statuses, as a paginated collection.
      parameters:
      - name: status
        in: query
        required: false
        description: Filter by membership status.
        schema:
          type: string
          enum:
          - all
          - active
          - inactive
          default: all
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: A paginated list of members / subscriptions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /subscriptions/{id}:
    get:
      operationId: getSubscription
      tags:
      - Subscriptions
      summary: Get a member / subscription by ID
      description: Returns membership details by passing its unique identifier.
      x-endpoint-modeled: The "get member by ID" operation is documented, but the exact URL template is inferred from the collection endpoint and standard REST conventions.
      parameters:
      - name: id
        in: path
        required: true
        description: The unique identifier of the member / subscription.
        schema:
          type: integer
      responses:
        '200':
          description: A single member / subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    Unauthorized:
      description: Missing or invalid Bearer token.
    RateLimited:
      description: Too many requests; the client is being throttled.
    NotFound:
      description: The requested resource was not found.
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: Page number for the paginated collection.
      schema:
        type: integer
        minimum: 1
        default: 1
  schemas:
    Subscription:
      type: object
      properties:
        subscription_id:
          type: integer
        subscription_cancelled_on:
          type:
          - string
          - 'null'
        subscription_created_on:
          type: string
        subscription_updated_on:
          type: string
        subscription_current_period_start:
          type: string
        subscription_current_period_end:
          type: string
        subscription_coffee_price:
          type: string
        subscription_coffee_num:
          type: integer
        subscription_is_cancelled:
          type:
          - string
          - 'null'
        subscription_is_cancelled_at_period_end:
          type:
          - string
          - 'null'
        subscription_currency:
          type: string
        subscription_message:
          type:
          - string
          - 'null'
        message_visibility:
          type: integer
        subscription_duration_type:
          type: string
        referer:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        transaction_id:
          type: string
        payer_email:
          type:
          - string
          - 'null'
        payer_name:
          type: string
    Pagination:
      type: object
      description: Laravel-style pagination envelope wrapping a data array.
      properties:
        current_page:
          type: integer
        first_page_url:
          type: string
        from:
          type: integer
        last_page:
          type: integer
        last_page_url:
          type: string
        next_page_url:
          type:
          - string
          - 'null'
        path:
          type: string
        per_page:
          type: integer
        prev_page_url:
          type:
          - string
          - 'null'
        to:
          type: integer
        total:
          type: integer
    SubscriptionPage:
      allOf:
      - $ref: '#/components/schemas/Pagination'
      - type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/Subscription'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Personal access token created in the Buy Me a Coffee Developer Dashboard. Sent as `Authorization: Bearer <token>`.'
